fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt>=4.0.1
httpx
google-genai
gunicorn
Pillow
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision